* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("img/1091212.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 auto;
}

h1 {
  font-size: 100px;
  z-index: 1;
}
h2 {
  font-size: 200px;
  z-index: 1;
}

#increment-btn,
#save-btn {
  background-color: aqua;
  border-radius: 25px;
  padding: 15px 30px;
}

#increment-btn:hover,
#save-btn:hover {
  background-color: red;
}

#save-btn {
  margin-top: 5px;
}

#previous-para {
  font-size: 50px;
  font-weight: 400;
}
